body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #ffabdf;
    padding: 0, 10%, 0, 10%;
    font-size: 1.5em

}

header {
    background: #ff79d5;
    font-size: 2em;
    padding-bottom: 0.3em;
}

marquee {
    text-shadow: -1px -1px 0 #ff01b3, 1px -1px 0 #ff01b3, -1px 1px 0 #ff01b3, 1px 1px 0 #ff01b3;
    color: #410275
}

p {font-family: Arial, Helvetica, sans-serif; font-size: 1.4em; color: #AE43FF}
h1 {font-family: Arial, Helvetica, sans-serif; font-size: 2.5em; font-weight: bold; color: #FF4FF7;}
h2 {font-family: Arial, Helvetica, sans-serif; font-size: 2.5em; font-weight: bold; color: #FF4FF7;}
h2 {font-family: Arial, Helvetica, sans-serif; font-size: 2.5em; font-weight: bold; color: #FF4FF7;}

button {
    border-radius: 18px;
    padding: 0.7em;
    cursor: pointer;
    font-size: 1em;
    color: #4f1e74;
    background-color: #ff75c3;
    border: 0em;
    box-shadow: 0 0.5em #6c1983
}
button:hover {
    background-color: #D44395;
}
button:active {
    background-color: #A81167;
    box-shadow: 0 0.2em #49115a;
    transform: translateY(0.3em);
}

input.color {
    border-radius: 18px;
    height: 5em;
    width: 5em;
    padding: 0.7em;
    cursor: pointer;
    color: #4f1e74;
    background-color: #ff75c3;
    border: 0em;
    box-shadow: 0 0.8em #6c1983;
    transform: translateY(1.2em);

}

div.gays {
    font-family: Arial, Helvetica, sans-serif; font-size: 1.4em;
}
