body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #ffabdf;
    padding: 0, 10%, 0, 10%;
    font-size: 1.5em

}

p {font-family: Arial, Helvetica, sans-serif; font-size: 1.4em; color: #AE43FF}
h1 {font-family: Arial, Helvetica, sans-serif; font-size: 2.5em; font-weight: bold; color: #FF4FF7;}
h2 {font-family: Arial, Helvetica, sans-serif; font-size: 2.5em; font-weight: bold; color: #FF4FF7;}
h2 {font-family: Arial, Helvetica, sans-serif; font-size: 2.5em; font-weight: bold; color: #FF4FF7;}

button {
    border-radius: 12px;
    padding: 0.2em;
    font-size: 1em;
    background-color: #ff75c3;
    border: 0.1em solid #b42ada;
    box-shadow: 0 0.3em #6c1983
}
button:active {
    background-color: #a81167;
    box-shadow: 0 0.1em #49115a;
    transform: translateY(0.2em);
}
