body {
    font-size: 2em;
    text-align: center;
    background: #1d0133;
    padding: 0, 10%, 0, 10%
}

p {
    font-family: Arial, sans-serif;
    color: #c23b88;
    font-weight: bold
}
h1 {
    font-family: Arial, sans-serif;
    color: #a80be0
}
h2 {
    font-family: Arial, sans-serif;
    color: #c54df0
}

a.inline {font-family: Arial, Helvetica, sans-serif; text-decoration: underline}
a.inline:link {color: #e042c3}
a.inline:visited {color: #b03499}
a.inline:hover {color: #9e45b0; text-decoration: underline; background: transparent}

ul {
    font-family: Arial; sans-serif;
    color: #ba78c2;
    font-weight: bold
}
div.landing {
    text-align: center;
    font-size: 3.6vw;
}

/* idk what this does lol
div:after {
    content: "";
    display: inline-block;
    width: 100%;
}
*/

/*This is to flip text upside down*/
.container {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*height: 100vh;*/
}

.backwards {
    display: inline;
    /*font-size: 100px;*/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
ul.landing {
    font-family: Arial; sans-serif;
    color: #a80be0;
}
